.slide {
  font-size: 50px;
  text-align: center;
  border: 1px solid black;
  margin-bottom: 20px;
}

.diente {
    overflow: visible;
	/*position: absolute;
	/*left: 107.413px;
	top: 449.271px;*/
	transform: matrix(1,0,0,1,0,0);
}
.diente_Class {
    fill: rgba(179,255,205,1);
	stroke: rgba(0,0,0,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}

.diente-48 {
	width: 35.884px;
	height: 67.247px;
}

.diente-47 {
	width: 38.012px;
	height: 69.987px;
}

.diente-46 {
	width: 41.126px;
	height: 73.977px;
}

.diente-45 {
	width: 24.061px;
	height: 82.894px;
}

.diente-44 {
	width: 22.931px;
	height: 78.172px;
}
.diente-43 {
	width: 27.182px;
	height: 91.312px;
}
.diente-42 {
	width: 22.338px;
	height: 77.788px;
}
.diente-41 {
	width: 18.401px;
	height: 75.316px;
}
.diente-38 {
	width: 35.884px;
	height: 67.247px;
}
.diente-37 {
	width: 38.012px;
	height: 69.987px;
}
.diente-36 {
	width: 41.126px;
	height: 73.977px;
}
.diente-35 {
	width: 24.061px;
	height: 82.894px;
}
.diente-33 {
	width: 27.182px;
	height: 91.312px;
}
.diente-34 {
	width: 22.931px;
	height: 78.172px;
}
.diente-32 {
	width: 22.338px;
	height: 77.788px;
}
.diente-31 {
	width: 18.401px;
	height: 75.316px;
}
.diente-28 {
	width: 33.719px;
	height: 64.818px;
}
.diente-27 {
	width: 36.449px;
	height: 72.79px;
}
.diente-26 {
	width: 41.867px;
	height: 75.731px;
}
.diente-25 {
	width: 23.086px;
	height: 72.903px;
}
.diente-24 {
	width: 24.041px;
	height: 72.387px;
}
.diente-23 {
	width: 31.391px;
	height: 91.297px;
}
.diente-22 {
	width: 22.769px;
	height: 74.713px;
}
.diente-21 {
	width: 28.369px;
	height: 79.528px;
}
.diente-18 {
	width: 33.719px;
	height: 64.818px;
}
.diente-17 {
	width: 36.449px;
	height: 72.79px;
}
.diente-16 {
	width: 41.867px;
	height: 75.731px;
}
.diente-15 {
	width: 23.086px;
	height: 72.903px;
}
.diente-14 {
	width: 24.041px;
	height: 72.387px;
}
.diente-13 {
	width: 31.391px;
	height: 91.297px;
}
.diente-12 {
	width: 22.769px;
	height: 74.713px;
}
.diente-11 {
	width: 28.369px;
	height: 79.528px;
}