@media (max-width: 800px) {
    .slide{
        text-align: center !important;
    }
    
    .cuadrante3, .cuadrante4{
        margin-top: 20px;
    }
}

:root {
    --colorDientesFondo: #fff;
    --colorDientesHover: #d2dfd2;
    --colorDientesActive: #3cdd55;
    --colorDientesBorde: #000;
    --colorCarasFondo: #fff;
    --colorCarasHover: #d2dfd2;
    --colorCarasActive: #3cdd55;
    --colorCarasBorde: #000;

}

.slide {
    /*font-size: 50px;
    text-align: center;*/
    /*border: 1px solid black;*/
    margin-bottom: 0px;
}

.cuadrante1{
    text-align: right;
    padding: 0 2px 5px 0;
}

.cuadrante2{
    text-align: left;
    padding: 0 0 5px 2px;
}

.cuadrante3{
    text-align: left;
    padding: 0 0 0 2px;
}

.cuadrante4{
    text-align: right;
    padding: 0 2px 0 0;
}

.contenedorDientes{
    height: 165px;
    display: inline-block;
    text-align: center;
    margin: 0 -2px 0 -2px;
    /*border: 1px solid black;*/
}

.contenedorNrosDientes{
    height: 20px;
    /*margin-top: -3px;*/
    background-color: transparent;
    vertical-align: middle;
    text-align: center;
    /*border: 1px solid black;*/
}

.contenedorSelectorCarasExt{
    position: relative;
    text-align: center;
    /*border: solid 1px #000;*/
    margin: 0px;
}

.contenedorSelectorCaras{
    position: relative;
    border: solid 5px #fff;
    border-radius: 15px;
    width: 42px;
    height: 42px;
    left:0%;
    background: contain;
    z-index: 1;
}
.contenedorSelectorCaras:after {
    content: " ";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border: 2px solid var(--colorCarasBorde);
    border-radius: 10px;
}

.selectorCentro{
    position: absolute;
    width: 16px; 
    height: 16px; 
    border: 2px solid #000;
    border-radius: 5px;
    top: 13px;
    left: 13px;
    z-index: 1;
    background-color: var(--colorCarasFondo);
    cursor: pointer;
}
.selectorCentro:hover{
    background-color: var(--colorCarasHover);
}

.selectorTop {
    position: absolute;
    width: 26px;
    height: 0px;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-top: 9px solid transparent;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    
    top: 5px;
    left: 8px;
    z-index: 2;
    cursor: pointer;
}
.selectorTop:hover ~ .fondoSelectorTop:before{background-color: var(--colorCarasHover);}
.selectorTop:hover ~ .fondoSelectorTop:after{background-color: var(--colorCarasHover);}
.fondoSelectorTop {
    position: absolute;
    width: 17px;
    height: 10px;
    top: 5px;
    left: 8px;
/*    background-color: transparent;
    border: none;*/
}
.fondoSelectorTop:before {
    content: " ";
    position: absolute;
    width: 17px;
    height: 10px;
    left: 0px;
    -webkit-transform: skew(45deg);
    -moz-transform: skew(45deg);
    -ms-transform: skew(45deg);
    -o-transform: skew(45deg);
    transform: skew(45deg);
    border-left: solid 2px var(--colorCarasBorde);
    background-color: var(--colorCarasFondo);
    border-bottom-right-radius: 12px;
    border-top-left-radius: 5px;
}
.fondoSelectorTop:after {
    content: " ";
    position: absolute;
    width: 17px;
    height: 10px;
    -webkit-transform: skew(-45deg);
    -moz-transform: skew(-45deg);
    -ms-transform: skew(-45deg);
    -o-transform: skew(-45deg);
    transform: skew(-45deg);
    border-right: solid 2px var(--colorCarasBorde);
    background-color: var(--colorCarasFondo);
    border-bottom-left-radius: 12px;
    border-top-right-radius: 5px;
}

.selectorDer {
    position: absolute;
    width: 0px;
    height: 22px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 9px solid transparent;
    border-top-left-radius: 40px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 10px;
    
    top: 10px;
    left: 28px;
    z-index: 2;
    cursor: pointer;
}
.selectorDer:hover ~ .fondoSelectorDer:before{background-color: var(--colorCarasHover);}
.selectorDer:hover ~ .fondoSelectorDer:after{background-color: var(--colorCarasHover);}
.fondoSelectorDer {
    position: absolute;
    width: 17px;
    height: 10px;
    top: 13px;
    left: 24px;
}
.fondoSelectorDer:before {
    content: " ";
    position: absolute;
    width: 17px;
    height: 10px;
    left: 0px;
    -webkit-transform: rotate(90deg) skew(45deg);
    -moz-transform: rotate(90deg) skew(45deg);
    -ms-transform: rotate(90deg) skew(45deg);
    -o-transform: rotate(90deg) skew(45deg);
    transform: rotate(90deg) skew(45deg);
    border-left: solid 2px var(--colorCarasBorde);
    background-color: var(--colorCarasFondo);
    border-bottom-right-radius: 12px;
    border-top-left-radius: 5px;
}
.fondoSelectorDer:after {
    content: " ";
    position: absolute;
    width: 17px;
    height: 10px;
    top: 7px;
    left: 0px;
    -webkit-transform: rotate(90deg) skew(-45deg);
    -moz-transform: rotate(90deg) skew(-45deg);
    -ms-transform: rotate(90deg) skew(-45deg);
    -o-transform: rotate(90deg) skew(-45deg);
    transform: rotate(90deg) skew(-45deg);
    border-right: solid 2px var(--colorCarasBorde);
    background-color: var(--colorCarasFondo);
    border-bottom-left-radius: 12px;
    border-top-right-radius: 5px;
}

.selectorBottom {
    position: absolute;
    width: 26px;
    height: 0px;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 9px solid transparent;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
    top: 28px;
    left: 8px;
    z-index: 2;
    cursor: pointer;
}
.selectorBottom:hover ~ .fondoSelectorBottom:before{background-color: var(--colorCarasHover);}
.selectorBottom:hover ~ .fondoSelectorBottom:after{background-color: var(--colorCarasHover);}
.fondoSelectorBottom {
    position: absolute;
    width: 17px;
    height: 10px;
    top: 27px;
    left: 8px;
}
.fondoSelectorBottom:before {
    content: " ";
    position: absolute;
    width: 17px;
    height: 10px;
    left: 0px;
    -webkit-transform: skew(-45deg);
    -moz-transform: skew(-45deg);
    -ms-transform: skew(-45deg);
    -o-transform: skew(-45deg);
    transform: skew(-45deg);
    border-left: solid 2px var(--colorCarasBorde);
    background-color: var(--colorCarasFondo);
    border-top-right-radius: 12px;
    border-bottom-left-radius: 5px;
}
.fondoSelectorBottom:after {
    content: " ";
    position: absolute;
    width: 17px;
    height: 10px;
    -webkit-transform: skew(45deg);
    -moz-transform: skew(45deg);
    -ms-transform: skew(45deg);
    -o-transform: skew(45deg);
    transform: skew(45deg);
    border-right: solid 2px var(--colorCarasBorde);
    background-color: var(--colorCarasFondo);
    border-top-left-radius: 12px;
    border-bottom-right-radius: 5px;
}

.selectorIzq {
    position: absolute;
    width: 0px;
    height: 22px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 9px solid transparent;
    border-top-left-radius: 10px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 40px;
    
    top: 10px;
    left: 5px;
    z-index: 2;
    cursor: pointer;
}
.selectorIzq:hover ~ .fondoSelectorIzq:before{background-color: var(--colorCarasHover);}
.selectorIzq:hover ~ .fondoSelectorIzq:after{background-color: var(--colorCarasHover);}
.fondoSelectorIzq {
    position: absolute;
    width: 17px;
    height: 10px;
    top: 13px;
    left: 1px;
}
.fondoSelectorIzq:before {
    content: " ";
    position: absolute;
    width: 17px;
    height: 10px;
    top: 7px;
    left: 0px;
    -webkit-transform: rotate(-90deg) skew(45deg);
    -moz-transform: rotate(-90deg) skew(45deg);
    -ms-transform: rotate(-90deg) skew(45deg);
    -o-transform: rotate(-90deg) skew(45deg);
    transform: rotate(-90deg) skew(45deg);
    border-left: solid 2px var(--colorCarasBorde);
    background-color: var(--colorCarasFondo);
    border-bottom-right-radius: 12px;
    border-top-left-radius: 5px;
}
.fondoSelectorIzq:after {
    content: " ";
    position: absolute;
    width: 17px;
    height: 10px;
    left: 0px;
    -webkit-transform: rotate(-90deg) skew(-45deg);
    -moz-transform: rotate(-90deg) skew(-45deg);
    -ms-transform: rotate(-90deg) skew(-45deg);
    -o-transform: rotate(-90deg) skew(-45deg);
    transform: rotate(-90deg) skew(-45deg);
    border-right: solid 2px var(--colorCarasBorde);
    background-color: var(--colorCarasFondo);
    border-bottom-left-radius: 12px;
    border-top-right-radius: 5px;
}

.diente {
    width: 44px;
    text-align: center;
    margin: 0 1px 0 1px;
}
.diente_Class {
    /*fill: rgba(179,255,205,1);
	stroke: rgba(0,0,0,1);*/
    
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
    
    cursor: pointer;
    fill: var(--colorDientesFondo);
    stroke: var(--colorDientesBorde);
}
.diente_Class:hover {
    fill: var(--colorDientesHover);
}
.diente_Class:active {
    fill: var(--colorDientesActive);
}

.diente-48 {
	/*width: 35.884px;*/
	height: 68px;
}

.diente-47 {
	/*width: 38.012px;*/
	height: 71px;
}

.diente-46 {
	/*width: 41.126px;*/
	height: 74px;
}

.diente-45 {
	/*width: 24.061px;*/
	height: 83px;
}
.diente-44 {
	/*width: 22.931px;*/
	height: 79px;
}
.diente-43 {
	/*width: 27.182px;*/
	height: 93px;
}
.diente-42 {
	/*width: 22.338px;*/
	height: 78px;
}
.diente-41 {
	/*width: 18.401px;*/
	height: 76px;
}
.diente-38 {
	/*width: 35.884px;*/
	height: 68px;
}
.diente-37 {
	/*width: 38.012px;*/
	height: 71px;
}
.diente-36 {
	/*width: 41.126px;*/
	height: 74px;
}
.diente-35 {
	/*width: 24.061px;*/
	height: 83px;
}
.diente-34 {
	/*width: 22.931px;*/
	height: 79px;
}
.diente-33 {
	/*width: 27.182px;*/
	height: 93px;
}
.diente-32 {
	/*width: 22.338px;*/
	height: 78px;
}
.diente-31 {
	/*width: 18.401px;*/
	height: 76px;
}
.diente-28 {
	/*width: 33.719px;*/
	height: 65px;
    margin-top: 35px;
}
.diente-27 {
	/*width: 36.449px;*/
	height: 73px;
    margin-top: 27px;
}
.diente-26 {
	/*width: 41.867px;*/
	height: 76px;
    margin-top: 24px;
}
.diente-25 {
	/*width: 23.086px;*/
	height: 73px;
    margin-top: 27px;
}
.diente-24 {
	/*width: 24.041px;*/
	height: 72px;
    margin-top: 28px;
}
.diente-23 {
	/*width: 31.391px;*/
	height: 91px;
    margin-top: 9px;
}
.diente-22 {
	/*width: 22.769px;*/
	height: 75px;
    margin-top: 25px;
}
.diente-21 {
	/*width: 28.369px;*/
	height: 81px;
    margin-top: 19px;
}
.diente-18 {
	/*width: 33.719px;*/
	height: 65px;
    margin-top: 35px;
}
.diente-17 {
	/*width: 36.449px;*/
	height: 73px;
    margin-top: 27px;
}
.diente-16 {
	/*width: 41.867px;*/
	height: 76px;
    margin-top: 24px;
}
.diente-15 {
	/*width: 23.086px;*/
	height: 73px;
    margin-top: 27px;
}
.diente-14 {
	/*width: 24.041px;*/
	height: 72px;
    margin-top: 28px;
}
.diente-13 {
	/*width: 31.391px;*/
	height: 91px;
    margin-top: 9px;
}
.diente-12 {
	/*width: 22.769px;*/
	height: 75px;
    margin-top: 25px;
}
.diente-11 {
	/*width: 28.369px;*/
	height: 81px;
    margin-top: 19px;
}